<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072559339894-apg5l0iml39urilq2i7sp0hjbh6r758k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072559339894-apg5l0iml39urilq2i7sp0hjbh6r758k</string>
	<key>API_KEY</key>
	<string>AIzaSyBNDDV1XKlMATd76l-nvJ5REAVB_aR-ObM</string>
	<key>GCM_SENDER_ID</key>
	<string>1072559339894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mfpullenmd.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-practice-project</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-practice-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072559339894:ios:d08ecb81d7be1bab86e257</string>
</dict>
</plist>